@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /*Lobster*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap'); /*Crimson text*/

/*custom green color*/
.home .textHome h1 span{
    color: #00bcd4;
 
    font-weight: 700;
}

.navbar , .services{
  background-color:#17252A;
}


/*custom font*/
.font-title{
  font-family: 'Lobster', cursive;
}

.custom-font , .navbar{
font-family: 'Crimson Text', serif;
}


/*fade in effect*/
.home , .textHome{
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/*text effect slide from Y*/
@keyframes slide-in{
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translate(0%);
  }
}

.textHome{
  animation: slide-in 1000ms;
}

/*navbar underline effect*/
.nav-link .nav-item li a:hover {
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

li a:hover {
  background-color: rgb(31, 67, 57);
  border-bottom:0.5px solid #fff;
  z-index: 3;
}



.aboutText {
  animation: slide-left 1000ms;
  text-align: justify;
  text-justify: inter-word;
}

.service-item .cpp-icon {
    width: 30px;
    height: 30px;
  }


  /*effect*/
  *{
    scroll-behavior: smooth;
    
  }

  #portofolio  .font-port {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }





.photo {
  background: #f6f6fb;

}

.photo .content
{
  
  display: flex; /*arrangement*/
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo .title h2{
  padding: auto;
  margin: auto;
  font-size: 2.4em;
  letter-spacing: 1.2px;  
  margin-bottom: 10px;
}

.photo .content .workBx
{
  position: relative;
  width: 265px;
  height: 265px;
  margin: 10px;
  transition: 0.5s;
  text-align: center;
  
}

.photo .content .workBx .imgBx,
.photo .content .workBx .textBx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.photo .content .workBx .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 4px;
}

.photo .content .workBx .textBx
{
  background: #000;
  opacity: 0;
  transition:0.5s
}

.photo .content .workBx:hover .textBx
{
  opacity: 1;
}

.photo .content .workBx .textBx h3
{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
}


 /*navbar toggle*/
 .navbar-toggler{
   z-index: 2;
 }




/*portfolio part*/
.card{
background-color: transparent;
    border: none;
}

.card-wrapper {
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
  transition: box-shadow 0.3s;
}

.card-img {
  width: auto;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
}